.student {
 border: 2px solid #3498db;
 padding: 10px;
 margin-bottom: 10px;
 background-color: #ecf0f1;
 border-radius: 5px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.student h2 {
 color: #3498db;
}

.student p {
 margin: 8px 0;
}

button {
 width: 80%;
 padding: 8px;
 background-color: #3498db;
 color: #fff;
 border: none;
 border-radius: 5px;
 cursor: pointer;
}